
.hero{
    text-align: center;
}

.ab{
    text-align: center;
  
}
.me{
    text-align: center;
}

.swa{
    text-align: center;
}

.ri{
    text-align: center;
}

.img{
    margin-left: 27%;
}
.main{
    background-color: brown;
    background-image: url(bl.jpg);
}